{% extends 'base.html' %}

{% block product_list %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    search for products 
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Product 1</a></li>
    <li><a class="dropdown-item" href="#">Product 2</a></li>
    <li><a class="dropdown-item" href="#">Product 3</a></li>
  </ul>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
        <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="white-text mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
                <div class="card-body">
                <img src="..." class="card-img-top" alt="...">
                    <p class="white-text mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
                </div>
            </div>
    </div>
    <div class="col-md-3">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
        <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="white-text mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
                </div>
            </div>
    </div>
    <div class="col-md-3">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
        <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="white-text mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
                </div>
            </div>
    </div>
    <div class="col-md-3">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
        <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="white-text mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
                </div>
            </div>
    </div>
    <div class="col-md-3">
        <div class="card mdb-color lighten-2 text-center z-depth-2">
        <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="white-text mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
                </div>
            </div>
    </div>
</div>
{% endblock product_list %}